{% load static %}
{% load rest_framework %}

{% if users_info %}


  <table id="Items_Table" class="table">
    <thead>
      <tr>
       <th scope="col">Name</th>
       <th scope="col">Surname</th>
       <th scope="col">Gender</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users_info %}

        <tr>
          <td>{{ user.first_name }}</td>
          <td>{{  user.last_name  }}</td>
          <td>
            {{ user.gender }}
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>

{% else %}
  <p class="text-center">No items to show.</p>
{% endif %}